body {
}

.header {
	margin: auto;
	text-align: center;
	font-style: bold;
	color: #AEB6BF;
	padding: 10px; 
	border: 1px;
	width: 400px;
	background-color: #212F3C;
	border-radius: 20px;
}

.devs {
	margin: auto;
	background-color: #212F3C;
	border-radius: 20px;
	font-size: 28;
	color: #AEB6BF;
	font-style: bold;
	width: 25%;
	text-align: center;
	padding: 10px;
}

.row {
	margin: auto;
	display: flex;
}

.column {
	flex: 25%;
	padding: 5px;
}

.info {
	margin: auto;
	width: 80%;
	font-size: 18px;
	text-align: left;
	padding: 10px;
	border: 5px solid #212F3C;
	border-radius: 20px;
}
