button {
    margin: 5px;
    font-family: 'Exo', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.input-container {
    padding-bottom: 10px;
}

.input-container > input {
    margin-left: 10px;
}


