.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-item {
    float: left;
    font-size: 1.2rem;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.nav-center a {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.nav-center .logo {
    background-image: url("img/logo.png");
    margin-left: 5px;
    padding: 10px;
    background-size: 20px;
    float: none;
    position: absolute;
}

.nav-right {
    float: right;
}

.profile-link {
    display: inline-flex;
    gap: 15px;
}

#navbar {
  box-shadow: 0px 1px 10px #999;
}