table, td, th {
    border: 1px solid #333;
}

td, th { 
    padding: 6px; 
    border: 1px solid rgb(216, 216, 216); 
    text-align: center; 
}

td {
    font-family: Lucida Sans Typewriter;
}

.dollar {
    padding-left: 6px;
    padding-right: 6px;
}

.profit{
    background-color: rgb(216, 238, 216);
}

.loss{
    background-color: rgb(236, 217, 217);
}

th { 
    background-color: #333;
    color: white; 
    font-weight: bold; 
}

tr:nth-of-type(odd) { 
    background: rgb(243, 243, 243);
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    overflow-x: auto;
}

.watchBtn{
    text-decoration: none;
    color: black;
}

.watchBtnDel{
    font-weight: bold;
    text-decoration: line-through;
    color: red;
}

.portfolioHover{
    text-decoration: none;
    color: blue;
}

.sell{
    color: red;
}

.buy{
    color: green;
}

.portfolioContainer{
    overflow: visible;
    position: relative;
}

.tradeContainer{
    border: solid;
    background-color: rgb(243, 243, 243);
    border-color: rgb(216, 216, 216);
    border-width: 1px;
    overflow: visible;
    position: relative;
}

.tradeContainer .tradeExit{
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 21px;
    border-collapse: collapse;
    border: none;
    padding: 10px;
    position: absolute;
    color: black;
    top: -1px;
    right: 4px;
}

.watchListContainer {
    overflow: visible;
    position: relative;
}